body {
  background-color: #dce1e3;
  color: #c4403f;
}

#appContainer {
  width: 90%;
  margin: 0 auto;
}

#main {
  min-height: 160px;
  margin: 0px;
  padding: 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -ms-flex-align: start;
      align-items: flex-start;
}

#main > article {
  margin: 4px;
  padding: 5px;
  border: 1px solid #cccc33;
  border-radius: 7pt;
  background: #dddd88;
  -ms-flex: 1;
      flex: 1;
}

#main > nav {
  margin: 4px;
  padding: 5px;
  border: 1px solid #8888bb;
  border-radius: 7pt;
  background: #ccccff;
  -ms-flex: 1;
      flex: 1;
}

#main > aside {
  margin: 4px;
  padding: 5px;
  border: 1px solid #8888bb;
  border-radius: 7pt;
  background: #ccccff;
  -ms-flex: 1;
      flex: 1;
}

header {
  margin: 4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
}

.searchBar {
  height: 60px;
  background-color: #f5f5f5;
  -ms-flex: auto;
      flex: auto;
}

.addStudentButton {
  width: 60px;
  height: 60px;
  background-color: #f5f5f5;
  margin-left: 3px;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
  #main, #page {
    -webkit-flex-flow: column;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  #main > nav, #main > aside, header, #main > article, .searchBar, .addStudentButton {
    min-height: 50px;
  }
}
