<div>{{$ctrl.search}}</div>
<div>{{newSearch}}</div>
<form class="form">
    <!-- Inputs -->
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <input type="text" class="form-control" ng-model='firstName' placeholder="First Name...">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <input type="text" class="form-control" ng-model='lastName' placeholder="Last Name...">
        </div>
      </div>
    </div>
    
    <!-- Radios -->
    <div class="row">
      <div class="col-sm-12 center">
        <label class="radio-inline incomplete">
          <input type="radio" name="inlineRadioOptions" ng-model='status' ng-value="1"> Incomplete
        </label>
        <label class="radio-inline inProgress" id='inProgressRadio'>
          <input type="radio" name="inlineRadioOptions" ng-model='status' ng-value="2"> In Progress
        </label>
        <label class="radio-inline done">
          <input type="radio" name="inlineRadioOptions" ng-model='status' ng-value="3"> Done
        </label>
      </div>
    </div>
  </form>


  <div class="modal-footer">
    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-default save" data-dismiss="modal" ng-click='addStudent()'>Save</button>
  </div>
