<div id='appContainer'>
  <header>
    <div class="searchBar box-shadow">
      <input id='search' type="text" ng-model='search' placeholder="Search By Name..."></input>
    </div>
    <div class="addStudentButton box-shadow"></div>
  </header>

  <div id='main'>
    <to-do student-list='studentList' search='search' class='box-shadow'></to-do>
    <in-progress student-list='studentList' search='search' class='box-shadow'></in-progress>
    <done student-list='studentList' search='search' class='box-shadow'></done>
  </div> <!-- End main -->

</div> <!-- End appContainer -->

<div class="container-flex">
  <div class="row">
    <div class="col-sm-6">
      <!-- <input type="text" class="form-control" ng-model='search' placeholder="Search for..."> -->
    </div>
  </div>
</div>

<div class="container-flex">

  <add-student student-list='studentList' search='search'></add-student>

</div>
