<h1>here's the container template</h1>

<div class="container-flex">
  <div class="row">
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-model='search' placeholder="Search for...">
    </div>
    <!-- {{search}} -->
  </div>
</div>

<div class="container-flex">

  <add-student student-list='studentList' search='search'></add-student>
  <to-do student-list='studentList' search='search' ></to-do>
  <in-progress student-list='studentList' search='search'></in-progress>
  <done student-list='studentList' search='search'></done>

</div>
